@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset básico para quitar márgenes y bordes */
body {
  margin: 0;
  padding: 0;
  background-color: #f7f6f2;
}

/* Opcional: estilos base para tipografía */
h1, h2, h3, p {
  margin: 0;
}